/* Header and Body Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea,
p {
  color: #404040;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.HappyAnalytics {
  font-family: 'Roboto Slab', serif !important;
  letter-spacing: 2px;
}